.flex {
  display: flex;
}

.title {
  font-size: 2rem;
}

.package {
  position: absolute;
  right: 10%;
  bottom: 25vh;
  color: white;
  font-size: 0.7rem;
  pointer-events: none;
}

@media (max-width: 768px) {
  .title {
    font-size: 0.9rem;
  }

  .package {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 0.6rem;
  }
}
