@font-face {
  font-family: 'KitchenSink';
  src: url('/src/assets/fonts/KitchenSink.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('/src/assets/fonts/Poppins-Medium.otf');
}

@font-face {
  font-family: 'PoppinsBold';
  src: url('/src/assets/fonts/Poppins-Bold.otf');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'KitchenSink', sans-serif;
  font-weight: 400;
}

body {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}
