@font-face {
  font-family: 'KitchenSink';
  src: url('./src/assets/fonts/KitchenSink.ttf');
}

* {
  padding: 0;
  margin: 0;
  font-family: 'KitchenSink', sans-serif;
  font-weight: 400;
}

body {
  overflow: hidden;
}
